*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url(../imagens/people.jpg);
    background-size: cover; /* A minha imagem vai ter o tamanho exato pra cobrir toda a minha DIV */
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select {
    appearance: none;
    background-image: url(../imagens/arrow.jpg);
    background-repeat: no-repeat;
    
    background-position-x: calc(100% - 10px); /* Vai ocupar no 100% do espaço - 10px do eixo X*/
    background-position-y: center; /* Vai centralizar no eixo Y*/
    /*
    background-position: calc(100% - 10px) center;  // é a mesma coisa dos últimos dois comandos anterior.
    */
}

.picture{
    width: 160px;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center; /* Como a imagem e o texto estao com display inline-block pode ser assim. Se fosse so inline, não funcionaria da mesma forma; a imagem ficaria em cima dos dois parágrafos. */
}

.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p,
.description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}